:root {
  --backgroundColor: #001220;
  --waveColor: #9376E0;
}

body{
  margin: 0;
  font-family: 'Prompt', sans-serif;
  color: rgb(0, 0, 0);
  background: var(--backgroundColor);
}

.container {
  display: flex;
  position: relative;
  justify-content: center;
}

.about {
  display: flex;
  position: relative;
  flex-direction: column;
  flex-wrap: wrap;
  max-width: 50rem;
}

.about>* {
  flex: 1 1 160px;
}

.aboutFirstBox {
  display: flex;
  justify-content: space-evenly;
  padding-top: 1%;
}

.aboutSecondBox {
  flex-direction: column;
  padding: 1%;
  padding-left: 10%;
  padding-right: 10%;
  color: azure;
  font-size: 150%;
  text-align: center;
}

.spacer {
  aspect-ratio: 960/150;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.layer1 {
  background-image: url('./layered-wave.svg');
}

.flip {
  transform: rotate(180deg);
}